.card {
    width: fit-content;
    font-family: sans-serif;
    background-color: rgba(230, 230, 230, 0.849);
    padding:10px;
    margin:auto;
    text-align:center;
}

.blockquote-footer {
    width: fit-content;
    text-align: right;
}